<mat-toolbar class="navbar">
  <mat-toolbar-row>
    <a class="brand" routerLink="/dashboard">
      <mat-icon>menu_book</mat-icon>
      <span class="brand-text">BookBuddy</span>
    </a>
    
    <span class="toolbar-spacer"></span>

    <div class="nav-items" *ngIf="isLoggedIn()">
      <a mat-button routerLink="/dashboard" class="nav-link">
        <mat-icon>dashboard</mat-icon>
        <span class="nav-text">Dashboard</span>
      </a>

      <a mat-button routerLink="/books/add" class="nav-link" *ngIf="user?.isLender">
        <mat-icon>add_circle</mat-icon>
        <span class="nav-text">Add Book</span>
      </a>

      <a mat-button routerLink="/books/manage" class="nav-link" *ngIf="user?.isLender">
        <mat-icon>library_books</mat-icon>
        <span class="nav-text">Manage Books</span>
      </a>

      <button mat-button [matMenuTriggerFor]="userMenu" class="user-menu-button">
        <mat-icon>account_circle</mat-icon>
        <span class="nav-text">Account</span>
      </button>

      <mat-menu #userMenu="matMenu" class="user-menu">
        <a mat-menu-item routerLink="/profile">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </a>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
